# .gitignore for the PMSTopTen project

# ignore Mac-specific directory descriptor file
.DS_Store
# ignore Eclipse files
.project
.settings
.includepath
GetResults.pl.launch
 # ignore the top level GeneratedFiles, but don't ignore the GeneratedFiles in Historical/
/Generated*/
# ignore any directory named 'old' - temp backups
old/
# ignore vi temp files
*.swp
# DON'T ignore anything in the Historical directory
!/Historical/*
# BUT...DO ignore .DS_Store in Historical/
/Historical/.DS_Store
# ignore database configuration (passwords, etc.)
properties_DB-*.txt
# but not the template!
!properties_DB-template.txt
# don't save any of the RSIDN files - they contain personal information that we must not
# store on a public repository
*[rR][sS][iI][nN][dD]*
*[rR][sS][iI][dD][nN]*
# BUT... DON'T ignore code having RSIND in its name
!*[rR][sS][iI][nN][dD]*.pl
!*[rR][sS][iI][dD][nN]*.pl
# ignore any file named PrivateData* just in case we have that tar file lying around...
Private*
# ignore any "MergedMember" file because it contains private data
MergedMembers*

