<!-- Start AGSOTY-StartCourseDetails.html -->
									<tr>
									  <td width="100%">&nbsp;&nbsp;<a href="" onclick="return ponclick('{UniquePersonId}-{CourseNum}')">
									  	{OrgCourse}: {CoursePoints} {PointsWord}</a>
	  
										<table  style="margin-left: 20px">   <!-- Course Details -->
											<tbody>
											<tr class="{GenderAgeGroup}-DisplayToggle" id="{UniquePersonId}-{CourseNum}" style="display:none">
												<td colspan="4">
												<table style="font-size: 80%" border="" cellpadding="4" width="100%">
													<tbody>
<!-- End AGSOTY-StartCourseDetails.html -->

