<!-- Start AGSOTY-SingleEvent_PMSTop10.html -->
													<tr>
														<td width="92%">
															<a href="" onclick="return ponclick('{UniquePersonId}-{CourseNum}-{UniqueSplashId}')">
				  												{EventName} in {Duration} ({Rank} place{PointsStart}: {EventPoints} {PointsWord}{PointsEnd})  {Reason}</a>
															<table style="font-size: 95%" width="100%" style="display:none">  <!-- Event details -->
																<tbody>
																<tr class="{GenderAgeGroup}-DisplayToggle" id="{UniquePersonId}-{CourseNum}-{UniqueSplashId}" style="display:none">
																	<td width="80%">
																		{MeetName} {EventDate}
																	</td>
																</tr>
																</tbody>
															</table>  <!-- Event details -->
														</td>
													</tr>
<!-- End AGSOTY-SingleEvent_PMSTop10.html -->

