<!-- Start AGSOTY-MoreThan10.html -->
    					<tr class="{GenderAgeGroup}-MoreThan10" id="{GenderAgeGroup}-MoreThan10{LessThan11}" 
    						bgcolor="{PersonBackgroundColor}" style="display:{DisplayForMoreThan10}">
							<td align="center" colspan="3" bgcolor="{PersonBackgroundColor}">
								<a href="" onclick="
									OpenSwimmer('{HTMLVSupportDir}','', '{VirtualFileName}');
									return ExpandSection('{GenderAgeGroup}');">
								Click here to see the rest of the swimmers</a>
							</td>
    					</tr>
<!-- End AGSOTY-MoreThan10.html -->
