<!-- Start AGSOTY-StartHead.html -->
<html>
<head>
	<meta http-equiv="Content-Language" content="en-us">
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

	<link rel="stylesheet" type="text/css" href="Support/Standings.css">

	<script type="text/javascript" src="Support/jquery-1.11.3.min.js"></script> 
	<script type="text/javascript" src="Support/jquery.floatThead.min.js"></script>
	<script type="text/javascript" src="Support/Standings.js"></script>

	<title>{PacificMasters}{YearBeingProcessed} Swimmer Age Group Standings</title>


</head>



<body>
<center>
<a href="/"><img src="Support/horizontal-logo.jpg" height="134" border="0" width="320"></a>
</center>
<p>&nbsp;</p>
<h1 style="text-align:center">{PacificMasters} {YearBeingProcessed} Swimmer Age Group Standings</h1>
{TeamTitle}
<h2 style="text-align:center">as of {GenerationDate}</h2>

<p>&nbsp;</p>
<div id="jump" class="jumpArea">	<!-- Jump Area -->
	Jump to the Gender and Age Group of interest:
	<div class="controlArea">
		<select class="selectClass" id="gender">
			<option value="F" selected>Women</option>
			<option value="M">Men</option>
		</select>
		<select class="selectClass" id="agegroup">
			<option value="18-24" selected>18-24</option>
			<option value="25-29">25-29</option>
			<option value="30-34">30-34</option>
			<option value="35-39">35-39</option>
			<option value="40-44">40-44</option>
			<option value="45-49">45-49</option>
			<option value="50-54">50-54</option>
			<option value="55-59">55-59</option>
			<option value="60-64">60-64</option>
			<option value="65-69">65-69</option>
			<option value="70-74">70-74</option>
			<option value="75-79">75-79</option>
			<option value="80-84">80-84</option>
			<option value="85-89">85-89</option>
			<option value="90-94">90-94</option>
			<option value="95-99">95-99</option>
			<option value="100-104">100-104</option>
			<option value="105-109">105-109</option>
			<option value="110-114">110-114</option>
		</select>
		<button id="jumpButton" class="buttonClass" type="button" onclick="jumpButtonClick()">Jump</button>
	</div>
</div>		<!-- End of Jump Area -->

<p>&nbsp;</p>
<div style=" margin-left: 40px; display:{DontShowRules}">
Based on <a href="index.html">Pacific Masters Age Group Standings Points</a>.
</div>
<div style=" margin-left: 40px; display:{ShowRules}">
	This page displays Age Group Standings for Pacific Masters swimmers.  
	These standings are determined by awarding swimmers points for:
	<ul>
		<li>Age group rankings within Pacific Masters in each pool course.
			(See 
			<a href="http://www.usms.org/comp/meets/toptenlocalind.php?Year={YearBeingProcessed}&CourseID=1&ZoneID=&LMSCID=38&Club=">
			SCY Rankings</a>,
			<a href="http://www.usms.org/comp/meets/toptenlocalind.php?Year={YearBeingProcessed}&CourseID=3&ZoneID=&LMSCID=38&Club=">
			SCM Rankings</a>,
			<a href="http://www.usms.org/comp/meets/toptenlocalind.php?Year={YearBeingProcessed}&CourseID=2&ZoneID=&LMSCID=38&Club=">
			LCM Rankings</a>)
			<ul><li>NOTE: AGSOTY pool discipline points are limited to best 8 swims in a course.</li></ul>
		</li>
		<li>Placements in Pacific Masters open water events.
			(See <a href="https://pacificmasters.org/points/OWPoints/{YearBeingProcessed}PacMastersAccumulatedResults.html">
			this year's Open Water standings</a>)
			<ul><li>NOTE:  AGSOTY open water points are taken from the 
			<a href="https://pacificmasters.org/points/OWPoints/{YearBeingProcessed}PacMastersAccumulatedResults.html">
			category 1 accumulated points for the season</a>.</li></ul>
		</li>
		<li>Top ten in national rankings (See 
		<a href="http://www.usms.org/comp/tt/toptenlmsc.php?Year={YearBeingProcessed}&CourseID=1&ZoneID=&LMSCID=38&ClubAbbr=">
		USMS SCY Rankings</a>,
		<a href="http://www.usms.org/comp/tt/toptenlmsc.php?Year={YearBeingProcessed}&CourseID=3&ZoneID=&LMSCID=38&ClubAbbr=">
		USMS SCM Rankings</a>,
		<a href="http://www.usms.org/comp/tt/toptenlmsc.php?Year={YearBeingProcessed}&CourseID=2&ZoneID=&LMSCID=38&ClubAbbr=">
		USMS LCM Rankings</a>)
		</li>
		<li><a href="http://pacificmasters.org/pacm/records?course=ind_scy&sort=desc&order=Date">
		Pacific Masters records</a> and
		<a href="https://www.usms.org/poolrecords">USMS records</a> set.</li>
	</ul>
	<p>The detailed rules can be found <a href="Support/AgeGroupStandingsRules.htm" target="_blank">here</a>,
		and a nice description of how the Age Group Standings work can be found
		<a href="https://pacificmasters.org/content/how-age-group-standings-work" target="_blank">here</a>.
	<p>This page will be updated periodically.  Date of the last update is at the top of the page.
	<ul>
		<li>Rankings within Pacific Masters will be updated with all results that have been added to the USMS database.</li>
		<li>Points for placements in Pacific Masters open water events will be updated roughly when the 
			<a href="/content/open-water-points">Open Water Points page</a> is updated.</li>
		<li>Points for the {YearBeingProcessed} season USMS Top Ten rankings will appear: 
			<ul>
				<li>Short Course Yards: July or August, {YearBeingProcessed}
					<ul><li><a href="Support/SeasonsOnCalendar-2.png" target="_blank">
						SCY season</a>:  June 1, {YearBeingProcessedMinusOne} through May 31, {YearBeingProcessed}</li></ul>
				</li>
				<li>Long Course Meters: November or December, {YearBeingProcessed}
					<ul><li><a href="Support/SeasonsOnCalendar-2.png" target="_blank">
						LCM season</a>:  {LCMStartOfSeasonDay}, {YearBeingProcessedMinusOne} through {LCMEndOfSeasonDay}, {YearBeingProcessed}</li></ul>
				</li>
				<li>Short Course Meters: early March, {YearBeingProcessedPlusOne}</li>
					<ul><li><a href="Support/SeasonsOnCalendar-2.png" target="_blank">
						SCM season</a>:  January 1, {YearBeingProcessed} through December 31, {YearBeingProcessed}</li></ul>
				</li>
			</ul>
		</li>
		<li>USMS record points will be updated with all record swims appearing on the USMS National Records pages.</li>
	</ul>
	<p>A swimmer will earn points in two different age groups if he or she ages up during the covered seasons.
	Beginning in 2018, if a swimmer ages up during the covered seasons, we will merge in points from the prior 
	age group. See <a href="Support/AgeGroupStandingsRules.htm" target="_blank">rules page</a> for details.
	<p>To be eligible for our end-of-year age group awards, you must have participated in three Pacific 
		Masters sanctioned competitions during the seasons covered by these standings.
	<p>Points are fluid and will change throughout the season as more swimmers compete in an event.  
	They may also change as errors are uncovered.
	<p>For questions, or to report errors, please click  
	<a href="https://pacificmasters.org/contact/Age_Group_Points" target="_blank">here</a>.
</div>

<!--
<p>&nbsp;</p>
<div id="soty">
</div>
-->


<p>&nbsp;</p>
<div id="MainContentDiv" align="left"> <!-- Main Content div -->

<table class='Category TableSize' style=" margin-left: 60px"> <!-- MAIN table -->
	<thead>
	<tr>
	  <th width="10%">Place</th>
	  <th width="77%">Name</th>
	  <th width="13%" align="center">Points</th>
	</tr>
	</thead>

	<tbody> <!-- body of MAIN Table -->
		<tr> <!-- Single row of body of MAIN Table -->
			<td colspan="3"> <!-- Single row of body of MAIN Table spans all columns -->
<!-- End AGSOTY-StartHead.html -->