<!-- Start AGSOTY-StartPersonRow.html -->
						<!-- startperson '{SwimmersName}' -->
    					<tr {ClassCollapse} id="{UniquePersonId}-head" bgcolor="{PersonBackgroundColor}">
							<td title="" bgcolor="{PersonBackgroundColor}" class="placeClass">{SwimmersPlace}</td>
							<td class="nameClass">
								<a href="" onclick="
									if( OpenSwimmer('{HTMLVSupportDir}','{UniquePersonId}', '{VirtualFileName}') ) {
										ExpandSection('{GenderAgeGroup}');
									}
									return false">
								{SwimmersName}</a>
							</td>
							<td align="center" class="pointsClass">{SwimmersPoints}</td>
    					</tr>
<!-- End AGSOTY-StartPersonRow.html -->
