<!-- Start AGSOTY-StartGenAgeGrp.html -->
			<div id="{VirtualFileName}-GenAgeDiv">		<!-- Gender/age group virtual section -->
			<p style="word-spacing: 0; margin-top: 0; margin-bottom: 0">&nbsp;</p>
			<a name="{GenderAgeGroup}"></a>
				<p style="word-spacing: 0; margin-top: 0; margin-bottom: 0; margin-left: -60px">{GenderAgeGroup}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;({NumSwimmersInGenAgeGrp} total swimmers.)
				<span class="{GenderAgeGroup}-Collapse" id="{GenderAgeGroup}-Collapse" style="margin-left: 20px;display:none">
					<a href="" onclick="return CollapseSection('{GenderAgeGroup}')">
					(Click here to collapse this section)</a>
				</span>
				</p>
			<p style="word-spacing: 0; margin-top: 0; margin-bottom: 0">&nbsp;
			
			<div> <!-- Gender/Age group -->
  				<table class="TableSize" border="1" bordercolor="#8AABB3" cellpadding="5"  >
  					<tbody>
    					
<!-- End AGSOTY-StartGenAgeGrp.html -->
    					
